@import "src/shared/styles/variables";

.content {
  padding-bottom: $footer-height;
  text-align: center;

  section {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .play-btn {
      width: 200px;
      height: 45px;
    }
  }
}
